# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
venv/
.env/
.env.bak/
.envrc
.venv/

# IDEs and Editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Langflow export files (optional: keep only json)
*.flow.json
